<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat to CLC agent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="chatService.messages" #content has-bouncing="true" class="has-header has-footer"
  delegate-handle="userMessageScroll">
  <div class='ion-text-center' *ngIf='chatService.messages.length <= 0;'>
    <p>Send a message by typing below.</p>
  </div>
  <div #messagesDiv *ngFor="let message of chatService.messages; let last = last" class="message-wrapper"
    on-hold="onMessageHold($event, $index, message)">

    <div *ngIf="message.sentBy == 'agent'">

      <img class="profile-pic left" src='https://image.flaticon.com/icons/svg/145/145867.svg' />

      <div class="chat-bubble left">

        <div class="message" [innerHTML]="message.chatMessage | nl2br" autolinker>
        </div>

        <div class="message-detail">
          <span (click)="viewProfile(message)" class="bold">{{message.user_first_name}}
            {{message.user_last_name}}</span>,
          <span>{{message.chatDateTime.date | amTimeAgo}}</span>
        </div>

      </div>
    </div>

    <div *ngIf="message.sentBy == 'sp'">

      <img (click)="viewProfile(message)" class="profile-pic right" [src]='message.driverImageUrl'
        onerror="onProfilePicError(this)" />

      <div class="chat-bubble right">

        <div class="message" [innerHTML]="message.chatMessage | nl2br" autolinker>
        </div>

        <div class="message-detail">
          <span (click)="viewProfile(message)" class="bold">You</span>,
          <span>{{message.chatDateTime.date | amTimeAgo}}</span>
        </div>

      </div>

    </div>
    <span>{{last ? !scrolled?scrollBottom(): ' ':' '}}</span>
    <div class="cf"></div>

  </div>
</ion-content>
<ion-content *ngIf="!chatService.messages" #content has-bouncing="true" class="has-header has-footer"elegate-handle="userMessageScroll">
  <br>
  <div class='ion-text-center'>
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item no-lines #chatInput>
      <ion-input spellcheck="true" autoComplete="true" autocorrect="true" maxlength="500" type="text"
        (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Type your message..."
        [(ngModel)]="newMessage"></ion-input>
      <ion-button [disabled]="!newMessage" size="default" expand="round" color="success" item-right
        (click)="sendMessage(newMessage); newMessage=''">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>