<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat to CLC agent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll">

    <div ng-repeat="message in messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">

      <div ng-if="user._id !== message.userId">

        <img class="profile-pic left" src='https://source.unsplash.com/random/200x200' />

        <div class="chat-bubble left">

          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
          </div>

          <div class="message-detail">
            <span ng-click="viewProfile(message)" class="bold">Test</span>,
            <span am-time-ago="message.date"></span>
          </div>

        </div>
      </div>

      <div ng-if="user._id === message.userId">

        <img ng-click="viewProfile(message)" class="profile-pic right"
        src='https://source.unsplash.com/random/200x200' onerror="onProfilePicError(this)" />

        <div class="chat-bubble right">

          <div class="message" ng-bind-html="message.text | nl2br" autolinker>
          </div>

          <div class="message-detail">
            <span ng-click="viewProfile(message)" class="bold">test</span>,
            <span am-time-ago="message.date"></span>
          </div>

        </div>

      </div>

      <div class="cf"></div>

    </div>
  </ion-content>
  <!-- <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
        <label class="item-input-wrapper">
            <textarea ng-model="input.message" value="" placeholder="Send test a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
        </label>
        <div class="footer-btn-wrap">
          <button class="button button-icon icon ion-android-send footer-btn" type="submit"
              ng-disabled="!input.message || input.message === ''">
          </button>
        </div>
    </ion-footer-bar>
</form> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item no-lines #chatInput>
      <ion-input spellcheck="true" autoComplete="true" autocorrect="true" maxlength="500" type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Type your message..." [(ngModel)]="newMessage"></ion-input>
      <ion-button size="default" expand="round" color="success" item-right (click)="sendMessage(newMessage); newMessage=''">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
