<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="closemodal()" defaultHref="app/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Cell Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <h5>Select Contact Number For Use</h5>
    <hr>
    <p>This will help clients to be able to reach you during your service progress</p>
    <ion-radio-group [(ngModel)]="selectedNumber">
      <ng-container *ngFor="let cellNum of contactDetails; let idx = index">
        <ion-item-sliding [disabled]="cellNum == this.spDetails.driverContactNumber" >
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="removeNumber(idx)">Delete</ion-item-option>
          </ion-item-options>
        
          <ion-item>
            <ion-label>{{cellNum}}</ion-label>
            <ion-radio slot="start" value="{{cellNum}}"></ion-radio>
          </ion-item>
        </ion-item-sliding>
      </ng-container>
      
    </ion-radio-group>
    <br>
    <!-- <ion-button color="tertiary">Mark As Default</ion-button> -->
    <ion-button *ngIf="!alreadyVerified.includes(selectedNumber)" [disabled]="!selectedNumber" color="primary" (click)="selectCellNumber(false)">Verify Number</ion-button>
    <ion-button *ngIf="alreadyVerified.includes(selectedNumber)" [disabled]="!selectedNumber" color="success"  (click)="selectCellNumber(true)">Use Number</ion-button>
    <p id="info"><i>*Swipe Cell Number To The Right To Delete It</i></p>
  </div>
  <hr>

  <div class="center">
    <h6>Add A New Number</h6>
    <ion-input type="tel" [(ngModel)]="cellNum" maxlength="10" placeholder="070 000 000"
      (ionInput)="onKeyCellpress($event)" name="cellNum"></ion-input>
    <ion-label class="err-message" *ngIf="!cellValid">Cell Number Invalid, Enter A Valid Number</ion-label>
    <br>
    <ion-button [disabled]="!enaableBth" (click)="addCellNum()" color="primary">Add Number</ion-button>
    <br>
    <!-- <ion-item >  <ion-checkbox slot="end" (ionChange)="makeDefaulCheck($event)"></ion-checkbox>
      <ion-label>Make this my default number</ion-label>
    </ion-item> -->
  </div>

</ion-content>