@import '../../../../styles/custom';

ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
  }
}

ion-footer {
  ion-toolbar {
    --background: white;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0 !important;
}

.controls {
  margin-bottom: 20px;
  margin-top: 20px;
}
