// #div._gmaps_cdv_ .ion-page:not(._gmaps_cdv_),
// #div._gmaps_cdv_ ion-modal:not(._gmaps_cdv_) {
//     display: none !important;
// }


.center {
    text-align: center;
}

hr {
    background: #D6D6D6;
}

#map_canvas4 {
    position: relative;
    height: 198px;
    z-index: 210000;
}

.clr {
    background: white !important;
}