ion-item {
    // border: 1px solid black;
    --color: #000;
}

ion-label {
    color: #ffffff;
}

ion-button {
    color: #000;
    --background: #ffffff;
}

ion-img {
    width: 40% !important;
}

#image-container {
    left: 30%;
    position: relative;
}

ion-content {
    --background: rgb(14, 48, 131);
}

h3,
h4,
p {
    color: white;
}

