<ion-header>
  <ion-toolbar color="primary">
      <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="goToHome()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-title class="my-ion-title">Reset Password</ion-title>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <div id="image-container">
      <ion-img [src]="imgLogo"></ion-img>
    </div>
    <form #form="ngForm" (ngSubmit)="resetPassword(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <ion-label position="floating">Please enter your username and mobile number below to reset your password.
              </ion-label>
            </div>
            <div class="ion-padding">
              <ion-item>
                <ion-input name="username" type="text" placeholder="Username" ngModel required></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input name="cellNumber" type="tel" maxlength="10" placeholder="Mobile Number" ngModel required>
                </ion-input>
              </ion-item>
              <ion-label *ngIf="!isCellValid" class="err-message">Cell Number Is Invalid</ion-label>
            </div>
            <div  class="center ion-padding">
              <ion-button type="submit" [disabled]="form.invalid" expand="block">SUBMIT</ion-button>
              <p (click)="goToHome()">Cancel</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <!-- <ion-button size="medium" expand="block" (click)="scan()">Launch CLC Assit</ion-button>  -->
  </div>

</ion-content>