
// defaults
$default-text-color: #626262;
$background-color: #fdfcfe;

// Social Colours
$facebook: #3b5998;
$facebook-light: lighten( $facebook, 10%);

$label-color: #363948;
$label-color-light: rgba(255,255,255,.9);