<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Scene Information</ion-title>
  </ion-toolbar>
</ion-header>
<div class="orderStatus">
    <ul class="row">
      <li class="col done">1</li>
      <li class="col done">2</li>
      <li style="font-weight: bold; color: rgb(14, 48, 131)" class="col">3</li>
      <li class="col">4</li>
      <li class="col">5</li> 
      <li class="col">6</li>
      <li class="col">7</li>
      <li class="col">8</li>
    </ul>
  </div>

<ion-content>  
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> 
        <div class="ion-padding">
  <ion-label position="floating"><strong>Number of vehicles</strong></ion-label>
  <ion-item>
    <ion-input type="text" [(ngModel)]="sceneDetails.numVeh" name="numVeh"></ion-input>
  </ion-item><br>
  <ion-label position="floating"><strong>Number of Occupants</strong></ion-label>
  <ion-item>
    <ion-input type="text" [(ngModel)]="sceneDetails.numOccupants" name="numOccupants"></ion-input>
  </ion-item><br>
  <ion-item>
    <ion-label>Road Type</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="Gravel">Gravel </ion-select-option>
      <ion-select-option value="Concrete">Concrete</ion-select-option>
    </ion-select>
  </ion-item><br>

  <ion-list>
    <ion-label position="floating"><strong>Road Conditions</strong></ion-label>
    <ion-item *ngFor="let roadCondition of roadConditions">
      <ion-label>{{roadCondition.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="roadCondition.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list><br> 
  <ion-list>
    <ion-label position="floating"><strong>Infra/Road Damage</strong></ion-label>
     <ion-radio-group value="biff">
     <!-- <ion-list-header>
        <ion-label>Infra/Road Damage</ion-label>
      </ion-list-header> --> 
      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio slot="start" value="Yes"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item> 
    </ion-radio-group>
  </ion-list>
  <br>
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
<ion-footer>
  <div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" (click)="goBack()">Previous</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block"(click)="nextPage()" type="submit">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> 
</ion-footer>