$primary:    #8B4789;
$green:  #32db64;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;
$color1: #15c178;
$color2: #8B4789;
$color3 : #07904d;
$color4: #673665;
$brown: #B75E33;
$ycBlue: rgb(5, 61, 216);