ion-title {
    text-align: center;
}

h3,
h4 {
    color: white;
}

ion-item {
    // border: 1px solid black;
    --color: #000;
}
ion-label {
    color: #ffffff;
}
ion-button {
    color: #000;
    --background: #ffffff;
}

ion-img {
    width: 40% !important;
}

#image-container {
    left: 30%;
    position: relative;
}

ion-content {
    --background:var(--ion-color-primary, #3880ff) !important;
}

.main-content {
    height: 600px;

    position: absolute;
    /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;

}