<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Driver Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='pause()'>Pause </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-motoraccident-claim-step [current]="step-1" [thirdParty]="claim.isThirdParty" [completed]="claim.completed">
  </app-motoraccident-claim-step>

  <div class='container'>


    <form id="form-project" role="form" #stepForm="ngForm">
      <div class='controls'>

        <div class='heading'>Driver</div>
        <!-- <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Same as Insured?</ion-text>
          </ion-label>
          <ion-checkbox slot="end" [(ngModel)]="sameAsInsured" name='sameAsInsured' (onChange)="toggleSameAsInsured()">
          </ion-checkbox>
        </ion-item> -->

        <ng-container *ngIf='!sameAsInsured'>
          <app-validated-form-control [control]="txtName">
            <label>Name</label>
            <input type="text" placeholder="Enter driver name" class="form-control" name="txtName"
              [(ngModel)]="driver.driverFirstName" #txtName="ngModel">
          </app-validated-form-control>
          <app-validated-form-control [control]="txtSurname">
            <label>Surname</label>
            <input type="text" placeholder="Enter driver surname" class="form-control" name="txtSurname"
              [(ngModel)]="driver.driverLastName" #txtSurname="ngModel">
          </app-validated-form-control>

          <!-- google address -->
          <!-- <app-validated-form-control [control]="txtAddress">
            <label>Address</label>
            <input ngx-google-places-autocomplete name='txtAddress' [(ngModel)]="driver.driverAddressDescription"
              class="form-control" [options]='addressOptions' #txtAddress="ngx-places"
              (onAddressChange)="handleAddressChange($event)" />
          </app-validated-form-control> -->

          <app-validated-form-control [control]="txtContactNumber">
            <label>Contact Number</label>
            <input type="tel" placeholder="Enter driver contact number" class="form-control" name="txtContactNumber"
              [(ngModel)]="driver.driverContactNumber" #txtContactNumber="ngModel">
          </app-validated-form-control>
          <app-validated-form-control [control]="txtEmail">
            <label>Email Address</label>
            <input type="email" placeholder="Enter driver email address" class="form-control" name="txtEmail"
              [(ngModel)]="driver.driverEmailAddress" #txtEmail="ngModel" appEmailValidator>
          </app-validated-form-control>
          <!-- <ion-item lines='none' class="custom-select">
            <ion-label class="ion-text-wrap">
              <ion-text>Occupation</ion-text>
            </ion-label>
            <ionic-selectable [(ngModel)]="selectedOccupation"  [items]="occupationOptions" itemValueField="lookup_item_id" itemTextField="title"
            [canSearch]="true"  [hasVirtualScroll]="true" name="selectedOccupation" (onChange)="occupationChosen()">
          </ionic-selectable>
          </ion-item> -->
        </ng-container>

        <div class='heading'>Driver's Licence</div>
        <ion-item lines='none' (click)='setDriversLicence(1)'
          *ngIf="!claim.images.driversLicenseImageFront || !claim.images.driversLicenseImageFront.exists">
          <ion-label class="ion-text-wrap">
            <ion-text>Drivers Licence Image(Front)</ion-text>
          </ion-label>
          <ion-icon name="camera" color='primary' slot='end' class='end-icon'></ion-icon>
        </ion-item>
  


        <ion-item lines='none' (click)='setDriversLicence(0)'
          *ngIf="!claim.images.driversLicenseImageBack || !claim.images.driversLicenseImageBack.exists">
          <ion-label class="ion-text-wrap">
            <ion-text>Drivers Licence Image(Back)</ion-text>
          </ion-label>
          <ion-icon name="camera" color='primary' slot='end' class='end-icon'></ion-icon>
        </ion-item>

        <ion-row class="block-one">
          <ion-col>
            <div class="image" [style.background-image]="claim.images.driversLicenseImageFront | mediaManagerSafeStyle "
              *ngIf="claim.images.driversLicenseImageFront && claim.images.driversLicenseImageFront.exists" tappable>
              <ion-icon name="close" (click)="deleteLicenseImage($event, 1)"
                *ngIf="claim.images.driversLicenseImageFront && claim.images.driversLicenseImageFront.exists">
              </ion-icon>
              <ion-icon name="camera"
                *ngIf="!claim.images.driversLicenseImageFront || !claim.images.driversLicenseImageFront.exists"
                [class.hasImage]="!claim.images.driversLicenseImageFront || !claim.images.driversLicenseImageFront.exists">
              </ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <div class="image" [style.background-image]="claim.images.driversLicenseImageBack | mediaManagerSafeStyle "
              *ngIf="claim.images.driversLicenseImageBack && claim.images.driversLicenseImageBack.exists" tappable>
              <ion-icon name="close" (click)="deleteLicenseImage($event, 0)"
                *ngIf="claim.images.driversLicenseImageBack && claim.images.driversLicenseImageBack.exists"></ion-icon>
              <ion-icon name="camera"
                *ngIf="!claim.images.driversLicenseImageBack || !claim.images.driversLicenseImageBack.exists"
                [class.hasImage]="!claim.images.driversLicenseImageBack || !claim.images.driversLicenseImageBack.exists">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <!-- <app-validated-form-control [control]="txtDriverLicenceNumber">
          <label>Drivers Licence Number</label>
          <input type="text" placeholder="Enter your drivers licence number" class="form-control"
            name="txtDriverLicenceNumber" [(ngModel)]="driver.driverLicenceNumber" #txtDriverLicenceNumber="ngModel"
            required>
        </app-validated-form-control>
        <ion-item lines='none' class="custom-select">
          <ion-label class="ion-text-wrap">
            <ion-text>Drivers Licence Code</ion-text>
          </ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="driver.driverLicenceCode" name="myLicenseCode">
            <ion-select-option *ngFor="let licenseCode of licenseCodeOptions" [value]="licenseCode.title">
              {{licenseCode.title}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Driver Licence Date Issued</ion-text>
          </ion-label>
          <ion-datetime [(ngModel)]="driver.driverLicenceDateIssued" name="LicenceDateIssued" displayFormat="MMM YYYY" value="2018-12-15T13:47:20.789"></ion-datetime>
        </ion-item>

        <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Drivers Licence Full/Learners</ion-text>
          </ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="driver.driverLicenceType" name="LicenceType">
            <ion-select-option value="Full">Full</ion-select-option>
            <ion-select-option value="Learners">Learners</ion-select-option>
          </ion-select>
        </ion-item> -->

        <!-- <div class='heading'>Details</div>
        <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Purpose for which vehicle was being used</ion-text>
          </ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="driver.driverVehiclePurpose" name="myPurpose">
            <ion-select-option *ngFor="let purpose of purposeOptions" [value]="purpose.title">
              {{purpose.title | titlecase}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Details of any Previous Motor Offences</ion-text>
          </ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="driver.driverPreviousMotorOffences" name="myOffence">
            <ion-select-option *ngFor="let offence of motorOffencesOptions" [value]="offence.title">
              {{offence.title | titlecase}}</ion-select-option>
          </ion-select>
        </ion-item> -->

        <!-- <ion-item lines='none' *ngIf="!sameAsInsured">
          <ion-label class="ion-text-wrap">
            <ion-text>Was he/she under your employment?</ion-text>
          </ion-label>
          <ion-checkbox slot="end" name='underYourEmployment' [(ngModel)]="driver.driverFlagUnderEmployment">
          </ion-checkbox>
        </ion-item> -->

        <!-- <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Has the licence ever been endorsed?</ion-text>
          </ion-label>
          <ion-checkbox slot="end" name='endorsed' [(ngModel)]="driver.driverFlagLicenceEndorsed"></ion-checkbox>
        </ion-item>
        <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Does the driver have any physical disabilities?</ion-text>
          </ion-label>
          <ion-checkbox slot="end" name='physicalDisabilities' [(ngModel)]="driver.driverFlagPhysicalDisabilities">
          </ion-checkbox>
        </ion-item>
        <ion-item lines='none'>
          <ion-label class="ion-text-wrap">
            <ion-text>Was the driver sober?</ion-text>
          </ion-label>
          <ion-checkbox slot="end" name='driverSober' [(ngModel)]="driver.driverFlagSober"></ion-checkbox>
        </ion-item> -->
      </div>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button (click)='previousStep()'>Previous
        <ion-icon name="arrow-back" slot='start'></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)='nextStep()'>Next
        <ion-icon name="arrow-forward" slot='end'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>