<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-title>Incoming Assist Request</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!gotToTns" class="my-content center clr">
    <div *ngIf="!gotToTns" id="location-info">
      <h4>Client Location</h4>
      <!-- <agm-map id="map-parent" [latitude]="serviceRequest.data.clientLocation.latitude"
        [longitude]="serviceRequest.data.clientLocation.longitude" [zoom]="11" [mapDraggable]="false">
        <agm-circle [latitude]="serviceRequest.data.clientLocation.latitude"
          [longitude]="serviceRequest.data.clientLocation.longitude" [fillColor]="'red'" [radius]="5000"></agm-circle>
      </agm-map> -->
      <div class="loc-map">
        <img [src]="staticMapsURL">
        </div>
    </div>
    <hr>
    <div id="location-info">
      <h4>Vehicle Details</h4>
      <p><span><strong>Make and Model: </strong></span>{{ this.serviceRequest.data.driverVehicle.vehicleDescription}}</p>
      <p><span><strong>Registration: </strong></span>{{this.serviceRequest.data.driverVehicle.vehicleRegistration}}</p>
    </div>

    <div *ngIf="finalDest != '0'" id="location-info">
      <hr>
      <h4>Final Destination Location</h4>
      <p>{{finalDest}}</p>
    </div>
    <hr>
    <div id="job-details">
      <h4>Job Details</h4>
      <p>Distance to client location is: <strong>{{distance}}</strong></p>
      <p>ETA: <strong>{{eta}}</strong></p>
    </div>
    <hr>
    <ion-button color="success" primary block (click)="acceptRequest()">Accept Job</ion-button>
    <ion-button color="danger" primary block (click)="cancelRequest()">Decline Job</ion-button>
  </div>


  <div *ngIf="gotToTns">
    <div [innerHTML]="tNc"></div>
    <ion-radio-group>
      <ion-item>
        <ion-label>I Agree To The Terms Of Service</ion-label>
        <ion-radio slot="start" value="IAgree" (click)="getTermsState(true)">
        </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>I Don't Agree To The Terms Of Service</ion-label>
        <ion-radio slot="start" value="IDontAgree" (click)="getTermsState(false)">
        </ion-radio>
      </ion-item>
    </ion-radio-group>
    <br>
    <ion-button expand="block" (click)="continue()">Continue</ion-button>
  </div>

</ion-content>