ion-icon {
    font-size: 31px;
}

ion-content {
    div {
        padding: 12px;
    }
}

.notification {
    width: 100%;
}

.unread-notification {
    background: #e3dff2;
}
ion-item{
    padding: 3px 0;
}

.bold {
    font-weight: bold;
  }