@import '../../../../../styles/custom';

ion-content {
  --background: linear-gradient( to top left, hsl(0, 0%, 93.65%) 0%, hsl(0, 0%, 93.65%) 20%, hsl(0, 0%, 95.28%) 20%, hsl(0, 0%, 95.28%) 40%, hsl(0, 0%, 96.88%) 40%, hsl(0, 0%, 96.88%) 60%, hsl(0, 0%, 98.45%) 60%, hsl(0, 0%, 98.45%) 80%, hsl(0, 0%, 100%) 80%, hsl(0, 0%, 100%) 100% );
}

ion-footer {
  ion-toolbar {
    --background: white;
  }
}

.banner {
  .banner-img {
    object-fit: cover;
    height: 28vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-up(sm) {
      height: 35vh;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
      }
    }
  }
}

.intro {
  text-align: center;
  font-size: .9rem;
}

.number {
  border: 2px solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  font-size: .8rem;
  font-style: italic;
  margin-top: 0;
}

.end-icon {
  font-size: 1.5rem;
}

.action-button {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 4px;
  --padding-start: 8px;
  --padding-end: 8px;
  @include media-breakpoint-up(sm) {
    --padding-start: 20px;
    --padding-end: 20px;
  }
}

.status-text {
  padding-left: 8px;
  font-weight: 600;
  font-size: .9rem;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }

  p {
    //   margin: 0 0 4px;
  }
}

.signatures {
  ion-label {
    p {
      font-size: .85rem;
    }
  }
}

h6 {
  &:not(:first-child) {
    margin-top: 30px;
  }
}

ion-list {
  padding-top: 0;
  padding-bottom: 0;
}

ion-item {
  --background: white;

  ion-icon {
    color: var(--ion-color-primary);
  }
}

// remove border of last list item
ion-item:last-child {
  --border-width: 0 0 0 0 !important;
  --inner-border-width: 0;
}

.sections {
  ion-label {
    //  text-transform: uppercase;
  }
}
