<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vehicle Details</ion-title>
  </ion-toolbar>
</ion-header>
<div class="orderStatus">
    <ul class="row">
      <li class="col done">1</li>
      <li style="font-weight: bold; color: rgb(14, 48, 131)" class="col">2</li>
      <li class="col">3</li>
      <li class="col">4</li>
      <li class="col">5</li>
      <li class="col">6</li> 
      <li class="col">7</li>
      <li class="col">8</li>
    </ul>
  </div>
<ion-content> 
  <form #form="ngForm" (ngSubmit)="postCarDetails()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> 
          <div class="ion-padding">
            <ion-label position="floating"><strong>Vehicle Type</strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.carType" name="carType"></ion-input>
            </ion-item>
            <br>
            <ion-label position="floating"><strong>Vehicle Make</strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.carMake" name="carMake"></ion-input>
            </ion-item>

            <br>
            <ion-label position="floating"><strong>Vehicle Registration Number</strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.carRegNum" name="carRegNum"></ion-input>
            </ion-item>
            <br>

            <ion-label position="floating"><strong>Vehicle Model </strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.carModel" name="carModel"></ion-input>
            </ion-item>
            <br>
            <ion-label position="floating"><strong>Vin Number</strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.vinNum" name="vinNum"></ion-input>
            </ion-item>
            <br>
            <ion-label position="floating"><strong>Engine Number </strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.engineNum" name="engineNum"></ion-input>
            </ion-item>
            <br>
            <ion-label position="floating"><strong>Vehicle Colour </strong></ion-label>
            <ion-item>
              <ion-input type="text" [(ngModel)]="carDetails.carColour" name="carColour"></ion-input>
            </ion-item>
          </div> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer>
    <div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" (click)="goBack()">Previous</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block"(click)="nextPage()" type="submit">Next</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> 
  </ion-footer> -->