// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-title {
    text-align: center;
}

.center {
    text-align: center;
}

.err-message {
    color: red !important;
    font-weight: bold;
}

hr {
    background: darkgray;
}

ion-footer {
    border-top: 1px solid
}
ion-button{
    text-transform: none;
}

.md {
    ion-title {
       top: 20%;
       position: relative;
   }
}

.orderStatus { padding: 10px; overflow: hidden; }
.orderStatus .row { padding: 0; margin: 0; display: flex; padding: 5px; width: 100%; }
.orderStatus .row .col { display: block; flex: 1 1 0; padding: 5px; width: 100%; line-height: 12px; position: relative; text-align: center; padding-top: 15px; color: #aaa; }
.orderStatus .row .col:before { content: ''; width: 100%; height: 5px; background: rgb(14, 48, 131); top: 0px; left: 0; position: absolute; margin: 0 0 0 -50%; }
.orderStatus .row .col.done:before { background: #56B500; }
.orderStatus .row .col:first-child:before { background: none; }
.orderStatus .row .col:after { position: absolute; width: 20px; height: 20px; content: ""; color: #ccc; font-size: 24px; line-height: 20px; background: #ccc; left: 50%; top: 0; z-index: 999; border-radius: 50%; margin: -8px 0 0 -10px; font-family: "Ionicons"; }
.orderStatus .row .col.done:after { position: absolute; width: 20px; height: 20px;  color: #fff; font-size: 24px; line-height: 20px; background: #56B500; left: 50%; top: 0; z-index: 999; border-radius: 50%; margin: -8px 0 0 -10px; font-family: "Ionicons"; }
.orderStatus .row .col.done { color: #3d8f10 }
 