<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start" mode='md'>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Passenger</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class='container'>
    <div class='heading'>Enter Passenger Info Below</div>
    <form id="form-project" role="form" #stepForm="ngForm">
      <div class='controls'>
        <app-validated-form-control [control]="txtName">
          <label>Name</label>
          <input type="text" placeholder="Enter name" class="form-control" name="txtName" [(ngModel)]="passenger.pasFirstName" #txtName="ngModel" required>
        </app-validated-form-control>
        <app-validated-form-control [control]="txtSurname">
          <label>Surname</label>
          <input type="text" placeholder="Enter surname" class="form-control" name="txtSurname" [(ngModel)]="passenger.pasLastName" #txtSurname="ngModel" required>
        </app-validated-form-control>
        <app-validated-form-control [control]="txtIdNumber">
          <label>ID Number</label>
          <input type="number" placeholder="Enter ID number" class="form-control" name="txtIdNumber" [(ngModel)]="passenger.pasIdNumber" #txtIdNumber="ngModel" required>
        </app-validated-form-control>
        <app-validated-form-control [control]="txtContactNumber">
          <label>Contact Number</label>
          <input type="tel" placeholder="Enter contact number" class="form-control" name="txtContactNumber" [(ngModel)]="passenger.pasContactNumber" #txtContactNumber="ngModel" required>
        </app-validated-form-control>
        <!-- google address -->
        <div class="custom-location">
          <app-validated-form-control [control]="txtAddress">
            <label>Address</label>
            <input ngx-google-places-autocomplete [(ngModel)]="passenger.pasAddress" name='txtAddress' class="form-control" [options]='addressOptions' #txtAddress="ngModel" (onAddressChange)="handleAddressChange($event)" />
          </app-validated-form-control>
          <div class="location-btn">
            <ion-button fill='clear' slot="end" (click)='locateUser()'>
              <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        <app-validated-form-control [control]="txtInjuryParticulars">
          <label>Particulars of Any Injuries</label>
          <textarea type="text" placeholder="Enter injury particulars" class="form-control" name="txtInjuryParticulars" [(ngModel)]="passenger.pasInjuriesDescription" #txtInjuryParticulars="ngModel" required></textarea>
        </app-validated-form-control>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button color='danger' (click)='closeAndDelete()'>Delete</ion-button>
    </ion-buttons>
    <ion-buttons slot='end'>
      <ion-button (click)='save(passenger)'>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>